@import url("./01_import.css");
/* import는 css에서 다른 css를 불러오는 것 */

li {
  color: blueviolet;
}

/* 0205 practice */
p {
  background-color: red;
  color: white;
}
h3 {
  background-color: palevioletred;
  color: white;
}
